

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :required => true %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field  :name, :required => false %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.text_field  :gender, :required => true %>
  </p>
  <p>
    <%= f.label :dob %>
    <%= f.date_field  :dob, :required => false %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field  :country, :required => false %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.cl_image_upload  :image, :required => false %>
  </p>

  <%= f.submit %>
<% end %>
