<div class="container">
  <h1>All Users</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eos accusamus similique distinctio, excepturi dolores vero quos illum deleniti ipsam eligendi placeat aperiam saepe quia odit nihil libero est ex.</p>

  <% @users.each do |user| %>
    <hr>
    <p><%= link_to( user.username, user ) %></p>
    <p><%= user.name %></p>
    <p><%= user.country %></p>
    <p><%= user.dob %></p>
  <% end %>
</div>

<div class="container">
  <h1>All Users</h1>
  <div class="row">
    <% @users.each do |user| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%= cl_image_tag(user.image, :default_image => "Man_Sunset_Stockphoto_nkdn75.jpg") %>
            </div>
            <div class="card-content">
              <h5><%= user.name %></h5>
            </div>
            <div class="card-action">
              <a href="/users/<%= user.id %>">View Profile</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
