<%= form_for(@achievement, :html=> {:multipart => true}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date, :required => true %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field  :description, :required => false %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.cl_image_upload  :image, :required => false %>
  </p>
  <%= f.submit %>                                                                                                                                                                                                                                                                                                                                                                                                      nnnun
<% end %>
