<h1>All Achievements</h1>
<h5>Sign up or login to post your own achievement</h5>

<% @achievements.each do |a| %>
  <hr>
  <h5><%= link_to( a.title, a) %></h5>
  <% if a.user %>
    <p><%= link_to( a.user.name, a ) %></p>
  <% end %>
  <p>Location: <%= link_to( a.location.name, "/locations/#{a.location.id}" )%></p>
  <p>Visit Date: <%=a.date %></p>
  <p>Description: <%=a.description %></p>
  <br>
<% end %>

<% if @current_user.present? %>
  <a href="/achievements/new">Create New Achievement</a>
<% end %>
