<div class="container">
  <h1>All Achievements</h1>


  <div class="row">
      <% @achievements.each do |a| %>
      <div class="col s12 m4">
        <div class="card z-depth-2 hoverable">
          <div class="card-image">
            <!-- <img src="<%#= a.image %>"> -->
            <%= cl_image_tag(a.image, :default_image => "Man_Sunset_Stockphoto_nkdn75.jpg") %>
            <span class="card-title" style="background-color:rgba(0,0,0,0.5)"><%=a.location.name %></span>
          </div>
          <div class="card-content">
            <h5><%= link_to(a.title, a) %></h5>
            <p><%= a.description %></p>
          </div>
          <div class="card-action">
            <a href="/achievements/<%= a.id%>">View</a>
          </div>
        </div>
      </div>
      <% end %>
  </div>




  <!-- <% if @current_user.present? %>
    <a href="/achievements/new">Create New Achievement</a>
  <% end %> -->
</div>
