<h1><%= @location.name %></h1>

<h2>Info</h2>
<h3><%= @location.country %></h2>

<p><%= @location.description %></p>

<%= image_tag @location.image %>

<h2>Achievements</h2>
<% if @current_user.present? %>
  <%= link_to( "Create achievement", new_achievement_path ) %>
<% end %>

<% @location.achievements.each do |achievement| %>
  <p><%= link_to(achievement.title, achievement)%></p>
  <p><%= achievement.date %></p>
  <p><%= achievement.user.name%></p>
  <p><%= achievement.description%></p>
  <br>
<% end %>
