<div class="parallax-container">
  <div class="parallax">

    <%= image_tag @location.image2 %>
  </div>
</div>

<div class="container">
  <h1><%= @location.name %></h1>

  <h2>Info</h2>
  <h3><%= @location.country %></h2>

  <p><%= @location.description %></p>

  <%= image_tag @location.image %>


  <% if @current_user.present? %>
    <%= link_to( "Create achievement", new_achievement_path ) %>
  <% end %>

  <h2>Achievements</h2>
  <div class="row">
    <% @location.achievements.each do |achievement| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="<%= achievement.image%>">
            </div>
            <div class="card-content">
              <h5><%= link_to(achievement.title, achievement)%></h5>
            </div>
            <div class="card-action">
              <a href="/achievements/<%= achievement.id %>">Details</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
