<div class="parallax-container">
  <div class="parallax">
    <%= image_tag @location.image2 %>
  </div>

  <div class="row">
    <div class="col s1">

    </div>
    <div class="parallaxLeft col s6">
      <h1><%= @location.name %></h1>
      <h3><%= @location.country %></h2>
      <p><%= @location.description %></p>
    </div>
    <div class="col s5">

    </div>

    </div>
  </div>

</div>

<div class="container">



  <% if @current_user.present? %>
    <%= link_to( "Create achievement", new_achievement_path ) %>
  <% end %>

  <h2>Achievements</h2>
  <div class="row">
    <% @location.achievements.each do |achievement| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="<%= achievement.image%>">
            </div>
            <div class="card-content">
              <h5><%= link_to(achievement.title, achievement)%></h5>
            </div>
            <div class="card-action">
              <a href="/achievements/<%= achievement.id %>">Details</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
