<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:success] %>
    <h5><%= flash[:success] %></h5>
  <% end %>
  <% if flash[:error] %>
    <h5><%= flash[:error] %></h5>
  <% end %>


  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/achievements">Achievements</a></li>
        <% unless @current_user.present? %>
          <li> <%= link_to "Sign Up", new_user_path %></li>
          <li><a href="/login">Login</a></li>
        <% else %>
          <li>
            <%= link_to "Logout | #{@current_user.email}", login_path, :method => :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>




<%= yield %>

</body>
</html>
