<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="<%= root_path%>" class="brand-logo">Travel Here</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/achievements">Achievements</a></li>
        <% unless @current_user.present? %>

          <li >
            <%= link_to "Sign Up", new_user_path, class: "waves-effect waves-light btn" %>
          </li>
          <li>
            <a href="/login" class="waves-effect waves-light btn">Login</a>
          </li>
        <% else %>
          <li>
            <%= link_to "Logout | #{@current_user.email}", login_path, :method => :delete, class: "waves-effect waves-light btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>





  <% if flash[:success] %>
    <h5><%= flash[:success] %></h5>
  <% end %>
  <% if flash[:error] %>
    <h5><%= flash[:error] %></h5>
  <% end %>

  <%= yield %>

  <footer>
    <div>
      <p>Created by Steve Liu </p>
      <a href="https://github.com/zitongliu/travel-app">Github Repository</a>
    </div>
  </footer>

</body>
</html>
